* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  position: relative;
  min-height: 100%;
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}
body {
  font-family: "Roboto", sans-serif !important;
  font-size: 15px;
  letter-spacing: 1px;
  background-color: var(--b-1);

  // margin: 0 0 0px;
  // padding: 0 0 0px;
}
// .col-1,
// .col-2,
// .col-3,
// .col-4,
// .col-5,
// .col-6,
// .col-7,
// .col-8,
// .col-9,
// .col-10,
// .col-11,
// .col-12 {
//   padding-left: 0;
//   padding-right: 0;
// }
