.carousel-sale-job{
    padding:10px;
    background-color: white;
    border-radius: 3px;
    .carousel-title{
        font-size: 30px;
        color: var(--color-1);
        margin: 0 5px;
    }
    .text-spe{
        font-size: 35px;
        color: var(--color-2);
        font-weight: bold;
    }
    span{
        font-size: 15px;
        color: var(--color-1);
        margin: 0 5px;
    }
    .img-carousel{
        padding:  0 5px;
        text-align: center;
        
    }
    img{
        height: 150px;
        width: 100%;
    }
    .text-header{
        background-color: #f1f1f1;
        color: var(--color-2);
        font-weight: bold;
        font-size: 16px;
    }
}